.label {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sign-up-container{
  display: flex;
  flex-direction: column;
  width: 380px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

  .button-container{
    display: flex;
    justify-content: space-between;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  }
  


}
h2{
  margin: 10px 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

span{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}




